.table_center {
	text-align: center;
}
.subnav {
	text-align: center;
	padding: 30px 15px;
	margin-bottom: 50px;
	bottom: 65px;
	background-color: rgba(193, 193, 193, 0.86);
    border-radius: 10em;
}
.subnav div a {
	color: #2b2626;
}
.subnav div a:hover {
	color: #f01010;
	text-decoration: none;
}
.block {
	display: inline-block;
}
.count {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.main {
	min-height: 550px;
    padding-top: 20px;
    padding-left: 15px
}
.dtoinfo {
	padding-bottom: 10px;
    border-bottom: 1px solid;
    padding-top: 10px;
}
.boardtitle {
	margin-bottom: 30px;
}
.margin_btm {
	margin-bottom: 20px;
}
.htag {
	padding: 10px 10px;
	color: rgba(200, 11, 11, 0.67);
}
.infoP {
	padding-left: 10px;
}

/* buttonGroup CSS */
.btndiv {
	margin: 20px 0px;
}

/* reply CSS */
.reply_list {
	padding: 0 8px;
}
.reply_column {
	padding: 10px 0;
}
.rppaging {
	cursor:pointer;
}
textarea {
	resize:none;
}
.rpRow {
	height: 56px;
}

@media screen and (max-width: 760px) {
.textcontent {
	min-width:320px;
	}
}
@media screen and (min-width: 760px) {
.areadiv {
	left: 200px;
	}
.field {
	padding-left: 0px;
	}

}
/* Member Join Css */
.msgbox {
	min-height: 35px;
}

.mzbzero {
	margin-bottom: 0px;
}

/* Member Login Css */
.divLogin {
	height: 39px;
}

.divLogin button {
	height: 39px;
}

/* Room Intro Css*/
#roomcolumn {
  column-width:350px;
  column-gap: 15px;
}
#roomcolumn figure {
  display: inline-block;
  border:1px solid rgba(0,0,0,0.2);
  margin:0;
  margin-bottom: 15px;
  padding:10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
}
#roomcolumn figure img {
  max-width:100%;
  width: 460px;
  height: 287px;
}
#roomcolumn figure figcaption {
  border-top:1px solid rgba(0,0,0,0.2);
  padding:10px;
  margin-top:11px;
}
#btnaddr {
	margin-top: 10px;
}
.ul_padding {
	padding-left: 15px;
}

/* Room read Css */
.read_img img {
	max-width:100%;
	width:98px;
	height:60px;
}
.read_mainimg img {
	max-width:100%;
	width: 384px;
	height: 240px;
}

.read_info h2 {
	margin-top: 5px;
}

.read_row {
	padding-top:50px;
	padding-bottom: 15px;
}

#map {
	width: 384px;
	height: 300px;
}

/* Mypage Css */
.respaging {
	cursor: pointer;
}
.mypage {
	text-align: center;
	padding: 30px 15px;
	margin-bottom: 50px;
	bottom: 65px;
}